.feedbackDiv {
    /* background-color: #ee4266; */
    text-align: center;
    width: 700px;
    display: inline-block;
    margin-left: 600px;
    margin-right: 400px;
    margin-top: 100px;

}

#outlined-textarea{
    width: 400px;
    height: 100px;
    text-align: center;
}


