.videoDiv{
   float: right;
   margin-right: 400px;
 
   
   
}

.selectDiv{
    text-align: center;
    color: white;
    margin-top: 40px;
    
}

.infoDiv{
  
    text-align: left;
    padding-left: 300px;
    color: white;

}